<div class="menu-bar__item">
    <ul>
        <li>
            <a class="icon-text" href="">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="play_arrow"></mat-icon>
                YouTube
            </a>
        </li>
        <li>
            <a class="icon-text" href="">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="public"></mat-icon>
                Linkedin
            </a>
        </li>
        <li>
            <a class="icon-text" href="">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="terminal"></mat-icon>
                GitHub
            </a>
        </li>
    </ul>
</div>
