.menu-bar__item{
    display: flex;
    margin: auto;
    align-items: center;
}

.menu-bar__item > ul{
    display: flex;
    list-style-type: none;

}

.menu-bar__item > ul > li{
    padding: 5px;
    margin-right: 15px; 
}

.menu-bar__item >ul > li > a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-family: 'Segoe UI';
    padding: 5px;
    
}

.menu-bar__item >ul > li > a:hover{
    text-decoration:overline;
    color: blue;
    font-weight: 600;
    
}

.icon-text {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o sublinhado do link */
    color: inherit; /* Usa a cor herdada */
  }
  
  .icon-text mat-icon {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
  }