<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" 
            alt="logo playstation"
            srcset=""
            width="140px"
            height="32px">
    </div>

    <app-menu-bar-item class="menu-bar__item"></app-menu-bar-item>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>


</div>
